@use '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';    

.container__navbar {
    overflow: hidden;
    width: $width-navbar;
    height: 100%;
    padding: 16px;
    border-right: 1px solid rgb(242, 243, 244);
    .container__navbar__linkbox {
        box-sizing: border-box;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 8px;
        .container__navbar__linkbox__title {
            display: block;
            width: 100%;
            font-size: 14px;
            padding: 4px 0 3px;
            color: rgb(121, 121, 121);
            border-bottom: 1px solid rgb(242, 243, 244);
       }
       .container__navbar__linkbox__listlink {
        .container__navbar__linkbox__listlink__mainlink {
            display: block;
            padding:11px 0 10px 16px;
            font-size: 14px;
            color:#171d24;
         &:hover {
            color: #646cff;
        }
       }
       .link {
        &--active {
            color: #646cff;
        }
       }
    }
    }
    &:hover {
        overflow: scroll;
    }
}