@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.commonproduct{
    @include fullEmptyPlace;
        .commonproduct__content{
            .commonproduct__content__title {
                display: flex;
                flex-flow: column;
                width: auto;
                height: auto;
                box-sizing: border-box;
                .commonproduct__content__title--maintitle {
                   @include styleTitlePage
                }
                .commonproduct__content__title--subtitle {
                    @include subTitle 
                 }
            }
        }
        
}