@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.icon{
    @include fullEmptyPlace;
        .icon__content{
            .icon__content__title {
                display: flex;
                flex-flow: column;
                width: auto;
                height: auto;
                box-sizing: border-box;
                margin-top: 40px;
                margin-bottom: 8px;
                a {
                    text-decoration: underline;
                }
                .icon__content__title--maintitle {
                   @include styleTitlePage
                }
                .icon__content__title--subtitle {
                    @include subTitle 
                 }
            }
        }
        
}