@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.dialog__container {
    @include fullEmptyPlace;
    .dialog__container__content__title{
            display: flex;
            flex-flow: column;
            width: auto;
            height: auto;
            box-sizing: border-box;
            margin-top: 30px;
            margin-bottom: 8px;
            .dialog__container__content__title--maintitle {
               @include styleTitlePage
            }
            .dialog__container__content__title--subtitle {
                @include subTitle 
             }
            .dialog__container__content__title--descriptiontitle {
                color: rgb(50, 62, 77);
            }
            .dialog__container__content__title--tag{
                text-decoration: underline;
                margin: 10px 0;
            }
            ol li {
                margin: 10px 0;
            }
    }
}