@use '../../styles/utils/variables';
@import '../../styles/utils/mixins';


.container__design__rule{
    display: flex;
    width: 100%;
    height: auto;
    padding: 28px;
    border: 1px solid rgb(242, 243, 244);
    .container__design__rule__icon {
        height: 40px;
        width: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .container__design__rule__content {
        flex-grow: 1;
        height: 65px;
        margin-left: 16px;
        color: $rulesColor;
        .container__design__rule__content__titlerules {
            display: block;
            font-size: $fontSizeRules;
            font-weight: $fontWeight-bold;
        }
        .container__design__rule__content__maincontent {
            display: block;
            margin-top: 5px;
        }
    }
}