@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.container__button {
    @include fullEmptyPlace;
    .container__button__content{ 
        .container__button__content__title{
            margin-bottom: 30px;
            .container__button__content__title--maintitle{
                @include styleTitlePage
            }
            .container__button__content__title--subtitle{
                @include subTitle
            }
            ul {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}