@use '../../styles/utils/variables';
@import '../../styles/utils/mixins';


.container__component__custome {
    border: 1px solid $border-color;
    .container__component__custome__items {
        padding: 10px;
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        min-height: 100px;
    }
    .container__component__custome__code {
        max-width: 100%;
    }
    .togglebtn {
        display: flex;
        border:none;
        justify-content: center;
        outline: none;
        align-items: center;
        height: 50px;
        width: 100%;
        &:hover{
        background-color: $openCodeBackGrounds;
        }
        .togglebtn__icon {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }
    }
}