@import './variables';

//BREAKPOINTS
@mixin smMinBreakPoint {
    @media (min-width: #{$screen-sm}){
        @content
    }
};

@mixin mdMinBreakPoint {
    @media (min-width: #{$screen-md}){
        @content
    }
};

@mixin lgMinBreakPoint {
    @media (min-width: #{$screen-lg}){
        @content
    }
};

@mixin xlMinBreakPoint {
    @media (min-width: #{$screen-xl}) {
        @content
    }
};

@mixin fullEmptyPlace {
    width: 100%;
    height: 100%;
}
@mixin styleTitlePage {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 32px;
    color: $titlePageColor
}