//SCREEN SIZES
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

//WIDTH OF NAVBAR
$width-navbar : 280px;

//HEIGHT OF HEADER
$height-header:60px;

//BORDER 
$border-color:rgb(242, 243, 244);

//  COLORS
$titlePageColor:rgb(23, 29, 36);
$titleColor: #444444;
$contentColor: #333333;
$howDoIColor:#FFFFFF;
$linkColor: #0074BD;
$h2Color:#636363;
$rulesColor: rgb(50, 62, 77);
//BACKGROUNDS
$headerBackGrounds: #333333;
$quickLinkBackGrounds: #0074BD;
$eventsBackGrounds: #D6F3E9;
$howDoIBackGrounds: #636363;
$openCodeBackGrounds: rgb(232, 233, 234);

//FONT SIZES
$fontSizeLinks: 15px;
$fontSizeTitles: 24px;
$fontSizeViewMore:14px;
$fontSizeRules: 18px;
//FONT WEIGHT
$fontWeightLinks:600;
$fontWeight-bold:700;
