@use '../../../styles/utils/variables';
@import '../../../styles/utils/mixins'; 

.container__header {
    display: flex;
    width: 100%;
    height: $height-header;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    border: 1px solid rgb(242, 243, 244);
    .container__header__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 500px;
        .container__header__logo__main {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
        }
        img {
            width: 50px;
            object-fit: cover;
            margin-right: 10px;
        }
    }
}