@use '../../../styles/utils/variables';
@import '../../../styles/utils/mixins'; 
.container__mainlayout{
    width: 100vw;
    height: 100vh;
    .container__mainlayout__content {
        width: 100%;
        height: calc(100% - $height-header);
        display: flex;
        box-sizing: border-box;
        .main__content {
            width: calc(100% - $width-navbar);
            height: 100%;
            padding: 24px 0 10px 10px;
            overflow: scroll;
        }
    }
}