@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.breadcrumb{
    @include fullEmptyPlace;
        .breadcrumb__content{
            .breadcrumb__content__title {
                display: flex;
                flex-flow: column;
                width: auto;
                height: auto;
                box-sizing: border-box;
                margin-top: 40px;
                margin-bottom: 8px;
                a {
                    text-decoration: underline;
                }
                .breadcrumb__content__title {
                   @include styleTitlePage
                }
                .breadcrumb__content__title--subtitle {
                    @include subTitle 
                 }
                .breadcrumb__content__title--descriptiontitle {
                    color: rgb(50, 62, 77);
                }
                ul {
                    font-size: 12px;
                    line-height: 20px;
                    
                }
                ul li::marker{
                    content: "- ";
                }
            }
        }
        
}