@use "../../styles/utils/variables";
@import "../../styles/utils/mixins";
.icongallery{
    .content {
        &__title {
            display: flex;
            flex-flow: column;
            width: auto;
            height: auto;
            box-sizing: border-box;
            margin-top: 40px;
            margin-bottom: 8px;
            &--maintitle {
               @include styleTitlePage
            }
            &--subtitle {
                @include subTitle 
             }
            &--descriptiontitle {
                color: rgb(50, 62, 77);
            }
            &__listitem {
                display: grid;
                grid-template-columns: repeat(6,1fr);
                gap: 2.5px;
            }
            &__modal {
                display: flex;
                width: 100%;
                background-color: red;
            }
        }
    }
}