@use '../utils/variables';
@import '../utils/mixins';

.container__designprinciple {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &__content__title {
        &--maintitle {
                font-weight: 400;
                font-size: 32px;
                color: rgb(23, 29, 36)
        }
        &__maincontent {
            width: 100%;
            height: 100%;
        }
    }
   
}